In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../../resources/Lijst_kranten_delpher_10jaar_incl_verspreidingsgebied.xlsx",sheet_name="Sheet1")

In [3]:
df.head()

,Unnamed: 0,PPN,Titel Krant,Begindag,Beginmaand,Beginjaar,Einddag,Eindmaand,Eindjaar,Looptijd jaren,Selectie,Verspreidingsgebied,Plaats van uitgave
0,0,833131834,Journal historique,4.0,1.0,1712,6.0,10.0,1944,232,0,Regionaal/lokaal,Rotterdam
1,1,844104698,Opregte Haarlemsche Courant,4.0,2.0,1673,31.0,12.0,1869,196,1,Regionaal/lokaal,Haarlem
2,2,852487045,Oprechte Haarlemsche courant,2.0,1.0,1766,2.0,5.0,1942,176,1,Regionaal/lokaal,Haarlem
3,3,841198969,Oprechte Haerlemsche courant,11.0,2.0,1659,6.0,5.0,1806,147,1,Regionaal/lokaal,Haarlem
4,4,832337900,Algemeen Handelsblad,5.0,1.0,1828,31.0,12.0,1970,142,1,Landelijk,Amsterdam

In [10]:
ppn = df[(df["Verspreidingsgebied"]=="Landelijk") & (~df["PPN"].isnull())].PPN
ppn

4      832337900
7      830850090
10     831178310
14     832688045
16     810798859
22     832675288
29     832460079
32     832495182
43     832667536
46     831715472
47     830780084
51     832737143
66     412869594
69     412789353
70     832737666
71     412869543
74     841135959
87     841135312
95     83308013X
97     841201854
101    842127143
102    810209039
105    832689858
108    832460699
116    83138588X
117    832369047
122    853918880
126    822630966
128    850161290
145    841138028
147    832698679
Name: PPN, dtype: object